* {
	outline: none;
}

body {
	background-color: #f6f6f6;
}

body, input, button, textarea {
	font-family: "Segoe UI", "Bitstream Vera Sans", "Lucida Grande", Tahoma, sans-serif;
	font-size: 1.4rem;
	font-size: 14px;
}

.title {
	font-size: 16px;
	font-weight: bold;
	color: #365FB3;
}

.overview {
	white-space: pre;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 400px;
	margin: 5px 5px;
	float: left;
	clear: left;
}

input, button, textarea {
	width: 400px;
	margin: 5px 5px;
	clear: left;
	float: left;
	padding: 5px;
	border-radius: 2px;
	border: 1px solid #88aaee;
	box-sizing: border-box;
	color: #365FB3;
}

input, button {
	height: 30px;
}

textarea {
	height: 60px;
}

button {
	background-color: #bbccff;
}

input:focus, button:focus {
	border: 2px solid #88aaee;
	padding: 4px;
}

button:active {
	background-color: #88aaee;
	color: #ffffff;
}

button[disabled] {
	background-color: #D8E0F2;
	color: #cccccc;
}

#status:before {
	content: "Status: ";
}

#form-container {
	margin-bottom: 10px;
}

.clear {
	clear: both;
}

#kb-id.signed-in {
	border-color: #44bb66;
	color: #44bb66;
}

#button-container {
	position: relative;
	float: left;
	clear: left;
}

#button-spinner {
	position: absolute;
	left: 188px;
	margin: 8px 5px;
}

.local:after {
	content: "Use Local Key"
}

.keybase:after {
	content: "Use Keybase Key"
}

.hidden {
	display: none !important;
}
